extends ../base.pug 

block variables     
    - var template = 'home'

block content 

    .home
        .home__content
            .home__content__title
                h1.title Affo
                h2.subtitle Web developer
            
                